ansitable==0.11.5
cfgv==3.5.0
colorama==0.4.6
colored==2.3.1
contourpy==1.3.3
cycler==0.12.1
dill==0.4.1
distlib==0.4.0
ezdxf==1.4.3
filelock==3.20.3
fonttools==4.61.1
identify==2.6.16
kiwisolver==1.4.9
manifold3d==3.3.2
matplotlib==3.10.8
nodeenv==1.10.0
numpy==1.26.4
packaging==26.0
pillow==12.1.0
platformdirs==4.5.1
pre_commit==4.5.1
PyOpenGL==3.1.10
pyparsing==3.3.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.13
PyQt5_sip==12.18.0
pyqtgraph==0.13.7
pytetwild==0.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scipy==1.17.0
six==1.17.0
spatialmath-python==1.1.15
trimesh==4.11.2
typing_extensions==4.15.0
virtualenv==20.36.1
